# Python
__pycache__/
*.py[cod]
.venv/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/
# Data
data/**/*.parquet
data/**/*.csv
!data/processed/240307_wirye_od.parquet

# Project outputs
results/

# Visualization build artifacts
visualization/node_modules/
visualization/dist/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
