/* src/css/app.css */
html, body, #root {
  height: 100%;
  margin: 0;
}
.container {
  position: relative;
  height: 100%;
  background: #000; /* 맵 로딩 전 검은 배경 */
}

.time-banner {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  z-index: 1000;
  margin: 0;
}